Package: com.yulkytulky.colorfullines
Name: Colorful Lines
Depends: mobilesubstrate, preferenceloader, com.spark.libsparkcolourpicker
Version: 1.1
Architecture: iphoneos-arm
Description: Customize the scrollbar and cursor! Colorful Lines provides coloring (including custom opacity) and hiding options for the iOS scrollbar and cursor. Also includes custom options for cursor selection bar and highlight! Built for iOS 12 and 13.
Maintainer: YulkyTulky
Author: YulkyTulky
Section: Tweaks
Depiction: https://YulkyTulky.github.io/TweakRepo/depictions/?p=com.yulkytulky.colorfullines