Package: com.yulkytulky.colorfullines
Name: Colorful Lines
Depends: mobilesubstrate, preferenceloader, com.spark.libsparkcolourpicker
Version: 1.3
Architecture: iphoneos-arm
Description: Customize the scrollbar, cursor, selection bars, and highlight!
Maintainer: YulkyTulky
Author: YulkyTulky
Section: Tweaks
