<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable Tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>

		<dict>
		<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Scrollbar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>scrollColorEnabled</string>
			<key>label</key>
			<string>Custom Scrollbar Color</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>scrollColorFromIcon</string>
			<key>label</key>
			<string>Scrollbar Color From Icon</string>
			<key>id</key>
			<string>100</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.yulkytulky.colorfullines</string>
				<key>fallback</key>
				<string>#ffffff:0.5</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>key</key>
			<string>scrollColor</string>
			<key>label</key>
			<string>Scrollbar Color</string>
			<key>id</key>
			<string>101</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>scrollHidden</string>
			<key>label</key>
			<string>Hide Scrollbar</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Cursor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>caretColorEnabled</string>
			<key>label</key>
			<string>Custom Cursor Color</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>cursorColorFromIcon</string>
			<key>label</key>
			<string>Cursor Color From Icon</string>
			<key>id</key>
			<string>200</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.yulkytulky.colorfullines</string>
				<key>fallback</key>
				<string>#0984ff:1.0</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>key</key>
			<string>caretColor</string>
			<key>label</key>
			<string>Cursor Color</string>
			<key>id</key>
			<string>201</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>caretHidden</string>
			<key>label</key>
			<string>Hide Cursor</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Floating Cursor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>floatingCaretColorEnabled</string>
			<key>label</key>
			<string>Custom Floating Cursor Color</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>floatingCursorColorFromIcon</string>
			<key>label</key>
			<string>Floating Cursor Color From Icon</string>
			<key>id</key>
			<string>300</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.yulkytulky.colorfullines</string>
				<key>fallback</key>
				<string>#0984ff:1.0</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>key</key>
			<string>floatingCaretColor</string>
			<key>label</key>
			<string>Floating Cursor Color</string>
			<key>id</key>
			<string>301</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Selection Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>selectionBarColorEnabled</string>
			<key>label</key>
			<string>Custom Selection Bar Color</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>selectionBarColorFromIcon</string>
			<key>label</key>
			<string>Selection Bar Color From Icon</string>
			<key>id</key>
			<string>400</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.yulkytulky.colorfullines</string>
				<key>fallback</key>
				<string>#0984ff:1.0</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>key</key>
			<string>selectionBarColor</string>
			<key>label</key>
			<string>Selection Bar Color</string>
			<key>id</key>
			<string>401</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Highlight</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>highlightColorEnabled</string>
			<key>label</key>
			<string>Custom Highlight Color</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CFLSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yulkytulky.colorfullines</string>
			<key>key</key>
			<string>highlightColorFromIcon</string>
			<key>label</key>
			<string>Highlight Color From Icon</string>
			<key>id</key>
			<string>500</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.yulkytulky.colorfullines</string>
				<key>fallback</key>
				<string>#0984ff:0.1</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>key</key>
			<string>highlightColor</string>
			<key>label</key>
			<string>Highlight Color</string>
			<key>id</key>
			<string>501</string>
			<key>PostNotification</key>
			<string>com.yulkytulky.colorfullines/saved</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Developed by YulkyTulky</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>github</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Source Code  ❤️</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>discord</string>
			<key>icon</key>
			<string>discord.png</string>
			<key>label</key>
			<string>Discord Server</string>
		</dict>

	</array>
	<key>title</key>
	<string>Colorful Lines</string>
</dict>
</plist>